@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .swiper
    &-slide
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .activities
    &-card
      width: 230px
      height: 230px
  .packages
    &-grid
      &__toptext
        font-size: 13px
  .grid
    &-booking
      &__oldprice
        margin-top: 27px
  .form
    &__name,
    &__number
      min-width: 222px

@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    
  .navbar
    &-logo
      max-width: 134px
    &-top 
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 45px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
    .search
      &__input
        width: 340px
  .hotel
    padding-top: 24px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
    padding: 34px 25px 34px 25px
  .slider
    width: 100%
  .map
    max-height: 210px
  .reviews
    &-title
      font-size: 30px
      margin-bottom: 40px
    &-slider
      max-width: 700px
      &__item
        max-width: 580px
    &-button
      top: 38%
      &--prev
        left: 0px
      &--next
        right: 0px
  .packages
    &-title
      font-size: 30px
      margin-top: 0
      margin-bottom: 45px
    &-grid
      grid-template: 1fr 1fr 1fr / 1fr 1fr 
      &__topitem
        grid-column: span 2
      &__toptext
        font-size: 14px
  .activities
    &-title
      padding-top: 15px
    &-list
      margin-bottom: 50px
      flex-wrap: wrap
    &-card
      width: 48%
      margin-bottom: 20px
      height: 255px
  .footer
    
    &-logo
      grid-row: 1
      grid-column: 1
      margin-top: 0
      max-width: 95px
    &-grid
      grid-template: repeat(5, minmax(40px,min-content)) / repeat(3, 1fr)
      padding-top: 73px
      &__categories
        grid-row: 2/3
        grid-column: 1
        margin-top: 50px
        margin-left: 0px
      &__additional
        grid-row: 2
        grid-column: 2
        margin-top: 50px
        margin-left: -30px
      &__legal
        grid-row: 2
        grid-column: 3
        margin-top: 50px
        margin-left: 35px
      &__social
        align-items: center
        grid-row: 1
        grid-column: 2/4
        margin-left: -45px
        margin-top: 10px
      &__contacts
        grid-row: 3
        grid-column: 1/4
        margin-top: 60px
      &__form
        grid-row: 4
        grid-column: 1/4
        margin-top: 55px
        margin-left: 0px
        max-width: 545px

      &__bottom
        grid-row: 5
        grid-column: 1/4
        justify-content: flex-start

  .categories
    &__wrap
      margin-left: 0px
  .additional
    &__wrap
      margin-left: 0px
  .form
    &__button
      padding: 20px 65px
  .bottom
    margin-top: 60px
    &__link
      font-size: 12px !important

@media (max-width: 768px)
  .container
    // max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &__mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    .search,
    .user
      &__hidden
        display: none
      &__visible
        display: flex
    .user
      &__name
        color: $light
    
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--hidden
          display: flex
    &-bottom
      display: none
      position: fix
      left: 0
      right: 0
      bottom: 0
      top: 78px

      &--visible
        display: block
    
  .menu
    &-button 
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .slider
    height: 350px
  .hotel
    padding-bottom: 40px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
    max-width: 768px
  .map
    width: 100%
    height: 213px
  .packages
    &-title
      margin-top: 0
      margin-bottom: 25px
      font-size: 18px
    &-grid
      &__topbooking
        margin: 55px 25px 0px 25px
      &__toptext
        font-size: 13px
        
  .grid
    &-booking
      &__description
        font-size: 11px
      &__button
        padding: 7px 15px
  .newsletter
    &-wrapper
      width: 92%
    &-title
      margin-right: 30px
  .reviews
    &-title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
    &-slider
      &__item
        padding: 0 30px 30px
        &::before, &::after
          display: none
    &-button
      top: 45px
      
      &--prev
        margin-left: -125px
        left: 50%
        transform: translate(-50, 0)
      &--next
        margin-right: -125px
        right: 50%
        transform: translate(50, 0)
  .activities
    &-title
      font-size: 18px
  .footer
    h3
      font-size: 15px

@media ( max-width: 576px )
  .logo
    width: 99px
  .slider
    height: 250px
  .hotel
    &-slider
      margin-bottom: 20px
  .packages
    &-grid
      &__toptitle
        font-size: 14px
        margin-bottom: 10px
      &__topbooking
        margin: 35px 6px 9px 13px
      &__toptext
        font-size: 11px
        margin-bottom: 17px
        max-height: 180px
        overflow: scroll
      &__smallbooking
        margin: 10px

  .grid
    &-booking
      &__title
        font-size: 14px
      &__toptitle
        font-size: 14px
      &__toptext
        font-size: 9px
      &__smallbooking
        margin: 10px 5px 10px 5px
      &__oldprice
        text-align: center
      &__description
        font-size: 10px 
      &__price
        flex-direction: column
      &__button
        margin-top: 10px
      &__icon
        height: 100%
  .booking
    &__button
      font-size: 12px
  .newsletter
    padding: 46px 0 46px 0
    &-wrapper
      flex-direction: column
      align-items: flex-start
    &-title
      margin-bottom: 37px
      font-size: 20px
      &__strong
        font-size: 30px
  .subscribe
    width: 100%
  .activities
    &-title
      font-size: 18px
      padding: 40px 0 40px 0
    &-card
      width: 100%
  .footer
    &-grid
      grid-template: repeat(8, minmax(40px,min-content)) / 1fr
      padding-top: 73px
    
      &__categories
        grid-row: 5
        grid-column: 1
        margin-top: 40px
      &__additional
        grid-row: 4      
        grid-column: 1
        margin-top: 40px
        margin-left: 0
      &__legal
        grid-row: 3
        grid-column: 1
        margin-top: 40px
        margin-left: 0
      &__social
        align-items: center
        grid-row: 2
        grid-column: 1
        margin-top: 30px
        margin-left: 0
      &__contacts
        grid-row: 6
        grid-column: 1
        margin-top: 60px
      &__form
        grid-row: 7
        grid-column: 1
        margin-top: 60px
      &__bottom
        grid-row: 8
        grid-column: 1
        justify-content: flex-start
        margin-top: 15px

  .form
    &__input
      &-group
        flex-basis: 100%

  .bottom
    &__payments
      left: 0
      bottom: -30px
    

@media ( max-width: 320px )
  .navbar
    &-logo
      max-width: 100px
      margin: -10px 5px 5px 5px
  .breadcrumb
    &-list
      padding: 10px 0px 0px 5px
  .hotel
    padding-bottom: 0px
    &-info
      &__text
        width: 95%
        padding-left: 10px
    &-right
      width: 95%
      margin: 0px 0px 0px 7px
  .slider
    max-height: 180px
    max-width: 278px
    margin: 15px 0px 20px 7px
  .booking
    max-width: 280px
    padding: 30px 25px 35px 25px
    &__button
      padding: 14px 0px
  .grid
    &-booking
      &__title
        font-size: 12px
  .map
    margin-bottom: 45px
    max-height: 175px
  .packages
    margin-bottom: 40px
  .newsletter
    min-height: 320px
    padding: 70px 10px 70px 10px
  .reviews
    &-title
      padding: 0px 50px 0px 50px
  .bottom
    &__link
      font-size: 10px !important


  