@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .swiper
    &-slide
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .activities
    &-card
      width: 230px
      height: 230px
  .packages
    &-grid
      &__toptext
        font-size: 13px
  .grid
    &-booking
      &__oldprice
        margin-top: 27px
  .form
    &__name,
    &__number
      min-width: 222px

@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top 
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
    .search
      &__input
        width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
  .slider
    width: 100%
  .map
    width: 340px
  .reviews
    &-slider
      max-width: 700px
      &__item
        max-width: 580px
  .packages
    &-title
      font-size: 30px
      margin-top: 0
      margin-bottom: 45px
    &-grid
      grid-template: 1fr 1fr 1fr / 1fr 1fr 
      &__topitem
        grid-column: span 2
      &__toptext
        font-size: 14px
  .activities
    &-list
      flex-wrap: wrap
    &-card
      width: 48%
      margin-bottom: 20px
  .footer
    &-logo
      grid-row: 1
      grid-column: 1
      margin-top: 0
    &-grid
      grid-template: repeat(5, minmax(40px,min-content)) / repeat(3, 1fr)
      padding-top: 73px
      &__categories
        grid-row: 2/3
        grid-column: 1
        margin-top: 40px
      &__additional
        grid-row: 2
        grid-column: 2
        margin-top: 40px
      &__legal
        grid-row: 2
        grid-column: 3
        margin-top: 40px
      &__social
        align-items: center
        grid-row: 1
        grid-column: 2/4
      &__contacts
        grid-row: 3
        grid-column: 1/4
        margin-top: 60px
      &__form
        grid-row: 4
        grid-column: 1/4
        margin-top: 60px
      &__bottom
        grid-row: 5
        grid-column: 1/4
        justify-content: flex-start
  .form
    &__inputs
      max-width: 539px
    &__name,
    &__number
      min-width: 47%

  .bottom
    margin-top: 60px

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &__mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    .search,
    .user
      &__hidden
        display: none
      &__visible
        display: flex
    .user
      &__name
        color: $light
    
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--hidden
          display: flex
    &-bottom
      display: none
      position: fix
      left: 0
      right: 0
      bottom: 0
      top: 78px

      &--visible
        display: block
    
  .menu
    &-button 
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .slider
    height: 350px
  .hotel
    padding-bottom: 40px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .packages
    &-title
      margin-top: 0
      margin-bottom: 25px
      font-size: 18px
    &-grid
      &__topbooking
        margin: 28px 13px 18px 26px
      &__toptext
        font-size: 13px
        
  .grid
    &-booking
      &__description
        font-size: 11px
      &__button
        padding: 7px 15px
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  
  .reviews
    &-title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
    &-slider
      &__item
        padding: 0 30px 30px
        &::before, &::after
          display: none
    &-button
      top: 45px
      
      &--prev
        margin-left: -125px
        left: 50%
        transform: translate(-50, 0)
      &--next
        margin-right: -125px
        right: 50%
        transform: translate(50, 0)
    .form
      &__name
        min-width: 100%

@media ( max-width: 576px )
  .logo
    width: 99px
  .slider
    height: 250px
  .hotel
    &-slider
      margin-bottom: 20px
  .packages
    &-grid
      &__topbooking
        margin: 14px 6px 9px 13px
      &__toptext
        font-size: 11px
        margin-bottom: 17px
  .grid
    &-booking
      &__oldprice
        text-align: center
      &__description
        font-size: 10px 
      &__price
        flex-direction: column
      &__button
        margin-top: 10px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .activities
    &-title
      font-size: 18px
      padding: 40px 0 40px 0
    &-card
      width: 100%
  .footer
    &-grid
      grid-template: repeat(8, minmax(40px,min-content)) / 1fr
      padding-top: 73px
    
      &__categories
        grid-row: 5
        grid-column: 1
        margin-top: 40px
      &__additional
        grid-row: 4      
        grid-column: 1
        margin-top: 40px
      &__legal
        grid-row: 3
        grid-column: 1
        margin-top: 40px
      &__social
        align-items: center
        grid-row: 2
        grid-column: 1
        margin-top: 30px
      &__contacts
        grid-row: 6
        grid-column: 1
        margin-top: 60px
      &__form
        grid-row: 7
        grid-column: 1
        margin-top: 60px
      &__bottom
        grid-row: 8
        grid-column: 1
        justify-content: flex-start
        margin-top: 15px

  .form
    &__name,
    &__number
      min-width: 100%
    &__reqfields
      left: 0
      bottom: 65px
    &__button
      margin-top: 45px
  .bottom
    &__payments
      left: 0
      bottom: -30px
  